@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Oswald:wght@300&family=Passion+One:wght@700&family=Poppins&display=swap");
* {
  font-family: "Alfa Slab One", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Passion One", cursive;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffe449;
}
body nav {
  background-color: rgb(34, 34, 34);
  padding: 1.7rem 0px;
}
body nav ul {
  display: flex;
  justify-content: space-evenly;
}
body nav ul li {
  list-style: none;
}
body nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
}
body nav ul li a:hover {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.164);
  transition: background-color, 600ms;
}
body header {
  display: flex;
  justify-content: center;
}
body header h1 {
  width: 30%;
  padding: 10px;
  color: black;
  text-align: center;
  background-color: #ffe449;
  border-radius: 5px;
  animation: h1-anima ease-in-out 4s infinite;
}
@keyframes h1-anima {
  75% {
    background-color: rgb(0, 0, 0);
    color: white;
  }
}
body main {
  margin: 5px;
}
body main p.p-principal {
  padding: 5px;
  border: 5px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 10px auto;
  width: 50%;
  font-size: 18px;
  font-weight: bolder;
  transition: padding, background-color, font-size, 2s;
}
body main p.p-principal:hover {
  background-color: white;
  padding: 7px;
  font-size: 20px;
  transition: padding, background-color, font-size, 2s;
}
body main article section.Resumen-Personal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main article section.Resumen-Personal p {
  margin: 30px 0px;
  width: 80%;
  text-align: center;
}
body main article section.Resumen-Personal div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main article section.Resumen-Personal div p {
  text-align: center;
  font-weight: bolder;
  margin: 25px 0px 20px 0px;
}
body main article section.Resumen-Personal div ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
body main article section.Resumen-Personal div ul li {
  font-weight: bolder;
  display: flex;
  align-items: center;
  list-style-type: none;
  transition: font-size, 2s;
}
body main article section.Resumen-Personal div ul li img {
  margin: 0px 7px;
  width: 30px;
  height: 30px;
  transition: width, height, 1s;
}
body main article section.Resumen-Personal div ul li:hover {
  font-size: 22px;
  transition: font-size, 2s;
}
body main article section.Resumen-Personal div ul li:hover img:hover {
  width: 40px;
  height: 40px;
  transition: width, height, 1s;
}
body main article section.Resumen-pasatiempo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main article section.Resumen-pasatiempo p {
  text-align: center;
  width: 80%;
  margin: 5px 0px;
}
body main article section.Resumen-pasatiempo div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main article section.Resumen-pasatiempo div p {
  text-align: center;
  font-weight: bolder;
  margin-top: 15px;
}
body main article section.Resumen-pasatiempo div ul {
  border-radius: 10px;
  width: 70%;
  margin: 10px auto;
  padding: 10px;
}
body main article section.Resumen-pasatiempo div ul li {
  list-style-type: none;
  margin: 15px 0px;
  transition: background, border, 400ms;
}
body main article section.Resumen-pasatiempo div ul li span {
  font-weight: bolder;
}
body main article section.Resumen-pasatiempo div ul li:hover {
  background: rgba(255, 255, 255, 0.452);
  border-bottom: 3px solid black;
}
body main article section.Formulario {
  display: flex;
  justify-content: center;
}
body main article section.Formulario form {
  background: rgb(110, 110, 110);
  color: white;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 2px 0px 40px 0px;
}
body main article section.Formulario form h2 {
  text-align: center;
  color: black;
  font-weight: bolder;
  font-size: 30px;
}
body main article section.Formulario form label {
  font-weight: bolder;
  margin: 5px 0px;
}
body main article section.Formulario form input {
  color: white;
  width: 300px;
  height: 25px;
  border: none;
  border-bottom: 2px solid black;
  background: none;
}
body main article section.Formulario form input::-moz-placeholder {
  color: white;
}
body main article section.Formulario form input::placeholder {
  color: white;
}
body main article section.Formulario form textarea {
  color: white;
  padding: 2px;
  width: 300px;
  height: 150px;
  border: 2px solid black;
  outline: none;
  background: none;
  resize: none;
}
body main article section.Formulario form textarea::-moz-placeholder {
  color: white;
}
body main article section.Formulario form textarea::placeholder {
  color: white;
}
body main article section.Formulario form button {
  width: 100px;
  padding: 5px;
  margin: 10px auto;
  border: none;
  border-bottom: 3px solid black;
  background: rgb(110, 110, 110);
  transition: border, color, font-weight, 1s;
}
body main article section.Formulario form button:hover {
  color: white;
  font-weight: bolder;
  border-bottom: 3px solid white;
  transition: border, color, font-weight, 1s;
}
body footer {
  display: flex;
  background-color: rgb(34, 34, 34);
  padding: 12px 0px;
  justify-content: space-around;
  align-items: center;
}
body footer p {
  width: 36%;
  color: white;
  font-size: 14px;
}
body footer div {
  display: flex;
}
body footer div img {
  width: 50px;
  height: 50px;
  margin: 0px 25px;
  filter: drop-shadow(4px 3px 13px rgba(255, 255, 255, 0.473));
  transition: width, height, 1s;
}
body footer div img:hover {
  width: 72px;
  height: 72px;
  transition: width, height, 1s;
  filter: none;
}/*# sourceMappingURL=styles.css.map */